.banner {
  margin-top: 100px;
}

.banner-container {
  position: relative;
  height: 640px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 75px;
  z-index: 10;
  pointer-events: none;
}

.banner-h1 {
  font-family: area-normal, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

.banner-h1-bold {
  font-weight: 900;
}

.banner-h1:nth-of-type(2) {
  margin-left: 190px;
}

.banner-h1:nth-of-type(4) {
  margin-left: 115px;
}

.banner-img {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.banner-img-litle {
  position: relative;
  overflow: hidden;
  background-image: url("../img/banner.webp");
  width: 193px;
  height: 500px;
  background-position: 20% 91%;
  background-size: 319%;
  box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.14),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  &:hover .banner-img-litle-hover {
    height: 0%;
  }
  @media (min-width: 1400px) {
    width: 230px;
    background-position: 19% 63%;
    background-size: 318%;
  }
}

.banner-img-litle-hover {
  background-color: rgba($color: #536ab0, $alpha: 0.8);
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0;
}

.banner-img-big {
  position: relative;
  overflow: hidden;
  background-image: url("../img/banner.webp");
  width: 263px;
  height: 640px;
  background-position: 90% -33px;
  background-size: 230%;
  margin-left: 30px;
  box-shadow: 2px 5px 4px 0 rgba(0, 0, 0, 0.14),
    inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  &:hover .bammer-img-big-hover {
    height: 100%;
  }
  @media (min-width: 1400px) {
    width: 330px;
    background-position: 85% -93px;
    background-size: 230%;
  }
}

.bammer-img-big-hover {
  background-color: rgba($color: #fdc609, $alpha: 0.8);
  width: 100%;
  height: 0%;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0;
}

.banner-date {
  font-family: area-normal, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  position: absolute;
  left: 12px;
  bottom: 0;
}

.banner-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner-video-litle {
  object-position: 20% 20%;
  transform: scale(1.2);
  @media (min-width: 1400px) {
    object-position: 14% 20%;
    transform: scale(1.3);
  }
}
