.band-container {
  margin-top: 100px;
  width: 102%;
  overflow: hidden;
  background-color: #6978ae;
  background: #6978ae;
}

.band {
  font-family: area-normal, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 1.5px;
  padding: 20px 0;
  color: white;
  white-space: nowrap;
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
