.description {
  margin-bottom: 30px;
}

.description-line {
  width: calc(100% + 60px);
  transform: translateX(-60px);
  height: 1px;
  background-color: #151515;
  margin-top: 70px;
  margin-bottom: 30px;
}

.description-p {
  margin-top: 12px;
}

.description-img {
  width: 100%;
  height: 100%;
}
