.footer {
  background-color: #151515;
  margin-top: 100px;
  padding: 40px 0 30px;
  color: white;
}

.footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-brand-container {
  margin-top: 32px;
  height: 30px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.footer-brand {
  font-size: 30px;
}

.footer-link {
  margin-top: 25px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-link-a {
  text-decoration: none;
  margin-top: 10px;
}

.footer-logo {
  width: 130px;
}

.footer-sponsor {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
